body{
    background-color:#e3e0cc;
    font-family: Arial;
}

div.statusBox {
    border: 1px solid black;
    padding: 3px 0px;
    margin: 3px 0px;
    font-size: 36pt;
    color: #FFC300;
    text-align: center;
}

.input{
    font-size: 50px;
}

div.hand {
    position: relative;
    height: px;
}
img.card {
    width: 71px;
    height: 90px;
}
img.positionable {
    position: absolute;
    top: 0;
}
.clickable {
    cursor: pointer;
}
#suitPicker, #announcer {
    display: none; /* Set display to 'block' to make div visible. */
    position:absolute;
    left:350px;
    top:750px;
    background-color:white;
    border:1px solid black;
    padding:5px;
    z-index:200;
}
#suitImages {
    font-size: x-large;
}
#d, #h {
    color: #800000;
}
    