*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #060AB2; 
}

p{
    font-size: 25px;
    color: deeppink;
}
input{
    font-size: 15px;
}

.memory-game {
  width: 640px;
  height: 560px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 900px;
}
.mem{
    font-size: 30px;
    color: crimson;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  }

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 1px;
  background: maroon;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}s